
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
:root {
  --main-dark-color: #4e72a8;
  --accent-color-1: #ec5f5f;
  --accent-color-2: #DED9E2;
  --accent-color-3: #C0B9DD;
  --accent-color-4: #75C9C8;
  --title-font: 'Didot';
  --main-font: 'Nexa';
  --header-font: 'Didot';
  --main-light-color: #f9f7ef;

  --dark-color: #191f1d;
  --mid-dark: #555a57;
  --light-color: #ece0c8;
  --mid-light: #949993;
  --shadow: #0005;
  --linear-rainbow: linear-gradient(
    to right,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --circle-rainbow: radial-gradient(
    circle at left top,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --noise-texture: url(public/images/static.gif);
  --gif-texture: url(https://64.media.tumblr.com/da60c13b478dda09ab90c27e880983b8/tumblr_nd4pwdPKdc1tun3l0o1_1280.gifv);
}


ul {
    list-style: none;
    margin-left: 0;
    text-indent: 0%;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    color: var(--main-dark-color);
}

h1 {
    font-weight: 400;
    
}

h3 {
    font-style: var(--title-font);
    padding: 0;

    margin: 0;
}
h4 {
    font-style: var(--title-font);
}
p {
    margin:0;
    padding: 0;
    text-align: justify;
}
html {
}
body {
    font-family: var(--main-font);
    font-weight: 300;
    height: 100%;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    font-size: 17px;
    padding: 0;
    margin: 0;
    
}
nav {
    width: 100%;
    position: fixed;
    top:0;
    z-index: 3;

}

nav ul {
    padding: 20px 100px;
    list-style: none;
    display: grid;
    width: 100%;
    text-transform: uppercase;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-items: center;
}
nav ul li {
    text-align: center;
    border: transparent 1px solid;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 15px;
    width: max-content;
    color: var(--main-dark-color);
    transition: background-color 0.2s color 0.2s;

}
a {
    padding: 0 10px;
}
nav ul li:hover {
    border: var(--main-dark-color) 1px solid;
    background-color: var(--main-light-color);

}
header {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0px 10%;
}



header:before {
    background-image: var(--noise-texture);
    
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 3;
}

header:hover:after{ 

    background-image: var(--gif-texture);
    background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 64%;
  z-index: 3;
}
header aside {
    width: 100%;
    grid-template-columns: 100%;
    align-content: center;
}
header img {
   width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 7;
}

header span{
    
    font-family: var(--title-font);
    font-size: 100px;
    line-height: 80px;
    font-size: 100px;
}
header span.surname {
    color: var(--accent-color-3);
    text-indent: 20%;
}

header .on-top {
    position:sticky;
    top: 10px;
    z-index: 2;
}
section {
    margin: 90px 0px;
    padding: 0px 20%;
}

 section#about{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: white;
    margin-top: 0px;
    padding-top: 70px;
    padding-bottom: 70px;
}

section#about div.about-me {
margin-left: 40px;
}
section#about h2 {
    font-size: 3.2vw;
    text-transform: lowercase;
}
section#film {
    
}
section#film aside {
    padding: 20px;
    align-content: center;
}

h3 {
    font-family: var(--header-font);
    width: fit-content;
   font-size:50px;
}

section#film iframe {
    width: 100%;
}


address {
    margin: 100px 0px;
}

.break-off {
    display: none;
}
 

.socialbtnsbtnsbtns, .socialbtnsbtnsbtns ul, .socialbtnsbtnsbtns li {
  margin: 0;
  padding: 5px;
}
.socialbtns ul {
    width: 100%;
}

.socialbtns li {
    list-style: none outside none;
    font-size: 30px;
    width: 100px;

    display: inline-block;
}

.socialbtns .fa {
  color: var(--accent-color-3);
  
}

.socialbtns .fa:hover {
  color: var(--main-dark-color);
  
}


#cards {
	/* Make place at bottom, as items will slide to that position*/
	padding-bottom: calc(var(--numcards) * var(--card-top-offset));
	/* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
	margin-bottom: 100px;
    
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 100px;
    height: 600px;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

.card__content {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-items: center;
    padding: 30px;
    background-color: var(--accent-color-2);
    display: grid;
	transform-origin: 50% 0%;
	will-change: transform;
}

/** DEBUG **/

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}


#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid hotpink;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	
}

.card {
	outline: var(--outline-width) solid lime;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	
	outline: var(--outline-width) solid blue;
}







/* Position warning box */
.warning {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	width: max-content;
	text-align: center;
	max-width: 90vw;
	margin: auto;
	z-index: 2;
	font-size: 0.8em;
	color: #333;
}

.gallery {
  --s: 150px; /* control the size */
  --g: 10px;  /* control the gap */
  --f: 1.5;   /* control the scale factor */
  
  display: grid;
  gap: var(--g);
  width: calc(3*var(--s) + 2*var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3,auto);
  width: 100%;
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: .35s linear;
}

.gallery img:hover{
  filter: grayscale(0);
  width:  calc(var(--s)*var(--f));
  height: calc(var(--s)*var(--f));
}


section#writing {
    padding: 0;
}
.VueCarousel-inner {
    
}

.VueCarousel-slide {
   
    height: 260px;
    
}

.VueCarousel-slide a.post-image {
    display: none;
}

.VueCarousel-slide h2 {
    height: 150px;
    align-content: center;
}

.VueCarousel-slide .author {
    display: none;
}

.read-more {
    display: none;
}





@media only screen and (max-width: 1300px) {
  header section {
    padding: 0 70px 0 0;
  }
}

@media only screen and (max-width: 1150px) {
    #film li.card {
 height: 750px;
 position: inherit;
	
    }
    #film li.card div.card__content {
        grid-template-columns: 1fr;
        grid-template-areas: none;
       
    }
     #film li.card div.card__content aside {
        text-align: center;
        padding: 0px;
        margin:  50px 0px;
        width: 100%;
        
     }

         #film li.card div.card__content aside h3 {
            width: 100%;
            text-align: center;
         }
         #film li.card div.card__content aside p {
            text-align: center;
         }
    #film li.card div.card__content  iframe {
        width: 100%;
        height: 40vh;
    }

    section#about {
        grid-template-columns: 100%;
    }

    section#about div.about-me {
        margin-left: 0;
    }
    section#about div.about-me h2 {
        text-align: center;
    }

    section#about div.about-me h2 .break-off {
    display: inline;
    }

    section#about div.about-me h2 .break-on {
    display: none;
    }

}

@media only screen and (max-width: 920px) {
    nav {
        background-color: var(--main-light-color);
    }
    nav ul {
        padding:0 10%;
        font-size: 13px;
    }

    header#home {
        grid-template-columns: 100%;
    }

    header#home section {
        margin: 0;
        text-align: center;
        padding-right: 0;
        padding-bottom: 40px;
    }

    header#home aside {
        grid-row: 1/2 ;
    }
    header#home aside img {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }


}

@media only screen and (max-width: 840px) {
#film li.card {
 height: 800px;
}
}
@media only screen and (max-width: 680px) {
#film li.card {
 height: 850px;
}
}
@media only screen and (max-width: 550px) {
#film li.card {
 height: 900px;
}
}

@font-face {
    font-family: "Nexa";
    src: url(fonts/NEXA-EXTRALIGHT.TTF);
}



